
#content {
    height: 40rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    text-align: left;
    background-color: #d7e38b;
    padding: 0.5rem 1rem;
    max-width: 100%;
    width: 80%;
    margin: 1rem 0.5rem;
    border-radius: 4px;
}

.message.self {
    text-align: right;
    background-color: #86e7e7;
    margin-left: auto;
}

.message .name {
    font-size: 75%;
    font-weight: bold;
}

#input-container {
    display: flex;
    width: 100%;
}

#input-container #input {
    width: 100%;
}
