
* {
    box-sizing: border-box;
}

body {
    padding: 30px 0;
    background-color: azure;
    margin: 0 auto;
    width: 860px;
    max-width: 860px;
}

.text {
    font-size: 2rem;
    text-align: justify;
}

.node-image {
    border: 1px solid darkslateblue;
    box-shadow: 0 0 3px 0 darkslateblue;
    width: 50%;
    border-radius: 3px;
    float: left;
    margin: 0 20px 20px 0;
}
